{% extends "base.html" %} {%block title%}Leaderboard - CasinoRoylae {%endblock%}
{% block content %}
<div class="card">
  <div class="card-body">
    <h3 class="text-center mb-4">Top Richest Users</h3>
    <ul class="list-group">
      {% for user in top_users %}
      <li
        class="list-group-item d-flex justify-content-between align-items-center"
      >
        <span class="badge bg-success rounded-pill">{{ loop.index }}</span>
        {{ user.username }}
        <span class="badge bg-success rounded-pill">${{ user.balance }}</span>
        <span class="badge bg-dark rounded-pill">ID: {{ user.id }}</span>
      </li>
      {% endfor %}
    </ul>
  </div>
</div>
{% endblock %}
